@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Public Sans', sans-serif;

    --color-green-50: #f2f9fd;
    --color-green-100: #e5f2f9;
    --color-green-200: #c5e5f2;
    --color-green-300: #91d0e8;
    --color-green-400: #57b7d9;
    --color-green-500: #38a6ce;
    --color-green-600: #2180a8;
    --color-green-700: #1c6788;
    --color-green-800: #1b5771;
    --color-green-900: #1c495e;
    --color-green-950: #122f3f;
  }

  html {
    font-family: var(--font-sans);
    color-scheme: dark;
    font-feature-settings: "rlig" 1, "calt" 1;
    background-color: #020617; /* slate-950 */
  }

  body {
    @apply antialiased text-white bg-slate-950;
  }
}

/* Subtle helper animations */
@layer utilities {
  .animate-in {
    animation-name: animateIn;
    animation-duration: 350ms;
    --tw-enter-opacity: initial;
    --tw-enter-scale: initial;
    --tw-enter-rotate: initial;
    --tw-enter-translate-x: initial;
    --tw-enter-translate-y: initial;
  }

  .animate-out {
    animation-name: animateOut;
    animation-duration: 350ms;
    --tw-exit-opacity: initial;
    --tw-exit-scale: initial;
    --tw-exit-rotate: initial;
    --tw-exit-translate-x: initial;
    --tw-exit-translate-y: initial;
  }
}
